@model bExcellent.mvc.Models.Feedback
@{
    ViewBag.Title = "ManagerFeedback";
}

<link href="~/Styles/Common/jquery.mCustomScrollbar.css" rel="stylesheet" />
<link href="~/Styles/feedback/manager-product.css" rel="stylesheet" />
<input type="hidden" id="lastModuleOrder" value="@Model.GetLastSavedQuestion.ModuleOrder"/>
@*completeModal*@
<div id="completedModal" class="modal simplemodal-container" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>Your Feedback has been completed successfully.</p>
                <button class="popup_okbtn" id="btnMgrCompleteOk">Ok</button>
            </div>

        </div>

    </div>
</div>
@{
    var resultmode = "";

    if (Session["PoEResultMode"] != null)
    {
        resultmode = Session["PoEResultMode"].ToString();
    }
}
<input type="hidden" id="selectedanswer" />
<input type="hidden" id="resultmode" value="@resultmode" />

<div class="sixteen wide column breadMenu">
    <div class="ui breadcrumb">
        <a href="../Common/Index">Home</a> <a>> </a><a href="../Feedback/Feedback?Mode=1">Feedback</a> <a>></a><a> Manager-Feedback</a>
    </div>
</div>
<div class="pageholder" id="dv" style="display: block;">
    <div class="customertiles" id="aboutContent">
        <h1>Give Feedback
        </h1>

        <ul class="poemodule">
            <li id="moduleOrder0" class="selected modImg1 selectedModule" data-moduleid="210" data-order="0">
                <img src="~/Images/icons/AzureInfraTsp-Product1h.png" /><p>Microsoft Azure</p>
            </li>
            <li id="moduleOrder1" class="modImg2" data-moduleid="211" data-order="1">
                <img src="~/Images/icons/AzureInfraTsp-Product2.png" /><p>Security</p>
            </li>
            <li id="moduleOrder2" class="modImg3" data-moduleid="212" data-order="2">
                <img src="~/Images/icons/AzureInfraTsp-Product3.png" /><p>Operations &amp; Management </p>
            </li>
            <li id="moduleOrder3" class="modImg4" data-moduleid="213" data-order="3">
                <img src="~/Images/icons/AzureInfraTsp-Product4.png" /><p>Developer Tools</p>
            </li>
            <li id="moduleOrder4" class="modImg5" data-moduleid="214" data-order="4">
                <img src="~/Images/icons/AzureInfraTsp-Product5.png" /><p>Debugging and Performance</p>
            </li>
        </ul>

    </div>
    <h1 class="producttitle">Product Feature <span>- For each Product Component below, rate your level of Proficiency</span></h1>
    @{ foreach (var user in Model.TeamMebers)
       {
        <div class="tm_img">
            <p>@(user.Teammember.User.FirstName + " " + user.Teammember.User.LastName)</p>
            @{
           //var rndnum = Math.random();
           Random rnd = new Random();
            }
            @*<img src="~/Images/you.png" />*@
            <img src='/Uploadify/LoadImageHandler.ashx?id=@(user.Teammember.User.UserId)&rnd=@rnd.Next()' alt='User' />
        </div>
       }
    }

    <input type="button" class="button_menu" id="module-name" />


    <div class="contentholder">
        <div id="option_menu" class="optView" style="display: none;">
            <div class="capabilityDef" id="capabilityDef" style="display: block;">
                <h2>Proficiency Definitions</h2>
                <div class="scale_dfn">
                    <div class="scale_img">
                        <img alt="Rarely" src="../../Images/Feedback/Icon/capability2.png">
                    </div>
                    <div class="scale_cnt">
                        <h3>Introductory</h3>
                        <p>Introductory Level Proficiency.</p>
                    </div>
                </div>
                <div class="scale_dfn">
                    <div class="scale_img">
                        <img alt="inconsistently" src="../../Images/Feedback/Icon/capability1.png">
                    </div>
                    <div class="scale_cnt">
                        <h3>Intermediate</h3>
                        <p>Intermediate Level Proficiency.</p>
                    </div>
                </div>
                <div class="scale_dfn">
                    <div class="scale_img">
                        <img alt="frequently" src="../../Images/Feedback/Icon/capability3.png">
                    </div>
                    <div class="scale_cnt">
                        <h3>Experienced</h3>
                        <p>Experienced Level Proficiency.</p>
                    </div>
                </div>
                <div class="scale_dfn">
                    <div class="scale_img">
                        <img alt="Always" src="../../Images/Feedback/Icon/capability4.png">
                    </div>
                    <div class="scale_cnt">
                        <h3>Expert</h3>
                        <p>Expert Level Proficiency.</p>
                    </div>
                </div>
            </div>


        </div>
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 400px; overflow: hidden; visibility: hidden;">
            <!-- Loading Screen -->
            @*           <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position: absolute; display: block; background: url('img/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            </div>*@
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1000px; height: 400px; overflow: hidden;" class="jssorinner">
                @{
                    foreach (var user in Model.TeamMebers)
                    {
                  
                    <div data-p="112.50" style="display: none;" id="module1">
                        <div class="content_progress">

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Active Directory</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p>
                                    <p class="moduleqncontent">Azure Active Directory</p>
                                </div>
                                <div class="qnscale">
                                    @*   <div class="managerimg">
                                    <img src="~/Images/images/AO Product Specialist_Intro.png" />
                                    <p>Geroge</p>
                                </div>
                                    <div class="freqicon">
                                        <img src="~/Images/Product/cap_icon.png" />
                                    </div>*@
                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1062" id="freqScale1" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>



                                <div class="moduleqn">
                                    <p class="qn">2</p>
                                    <p class="moduleqncontent">Single Sign-On</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1063" id="freqScale2" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure IoT Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">3</p>
                                    <p class="moduleqncontent">Azure IoT Suite</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1064" id="freqScale3" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Notification Hubs</h2>
                                <div class="moduleqn">
                                    <p class="qn">4</p>
                                    <p class="moduleqncontent">Notification Hub</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="1" data-questionid="1065" id="freqScale4" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Portal</h2>
                                <div class="moduleqn">
                                    <p class="qn">5</p>
                                    <p class="moduleqncontent">Administration</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1066" id="freqScale5" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">6</p>
                                    <p class="moduleqncontent">Azure PowerShell</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1067" id="freqScale6" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Security Center</h2>
                                <div class="moduleqn">
                                    <p class="qn">7</p>
                                    <p class="moduleqncontent">Security Center</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1068" id="freqScale7" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Service Bus</h2>
                                <div class="moduleqn">
                                    <p class="qn">8</p>
                                    <p class="moduleqncontent">Azure Service Bus</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1069" id="freqScale8" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Compute</h2>
                                <div class="moduleqn">
                                    <p class="qn">9</p>
                                    <p class="moduleqncontent">Azure Container Service</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1070" id="freqScale9" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">10</p>
                                    <p class="moduleqncontent">Batch</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1071" id="freqScale10" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">11</p>
                                    <p class="moduleqncontent">Virtual Machine Scale Sets</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="1" data-questionid="1072" id="freqScale11" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">12</p>
                                    <p class="moduleqncontent">Virtual Machines</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1073" id="freqScale12" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">13</p>
                                    <p class="moduleqncontent">Azure App Service</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1074" id="freqScale13" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">14</p>
                                    <p class="moduleqncontent">Cloud Services</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1075" id="freqScale14" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">15</p>
                                    <p class="moduleqncontent">Service Fabric</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="1" data-questionid="1076" id="freqScale15" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Cortana Intelligence Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">16</p>
                                    <p class="moduleqncontent">Cortana Intelligence</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1077" id="freqScale16" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Databases</h2>
                                <div class="moduleqn">
                                    <p class="qn">17</p>
                                    <p class="moduleqncontent">Redis Cache</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1078" id="freqScale17" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">18</p>
                                    <p class="moduleqncontent">Document DB</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1079" id="freqScale18" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">19</p>
                                    <p class="moduleqncontent">SQL Database</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1080" id="freqScale19" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Networking</h2>
                                <div class="moduleqn">
                                    <p class="qn">20</p>
                                    <p class="moduleqncontent">Application Gateway</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="1" data-questionid="1081" id="freqScale20" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">21</p>
                                    <p class="moduleqncontent">ExpressRoute</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1082" id="freqScale21" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">22</p>
                                    <p class="moduleqncontent">Virtual Network</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1083" id="freqScale22" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Operations Management Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">23</p>
                                    <p class="moduleqncontent">Azure Backup</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1084" id="freqScale23" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">24</p>
                                    <p class="moduleqncontent">Azure Site Recovery</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1085" id="freqScale24" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">25</p>
                                    <p class="moduleqncontent">Operations Management Suite</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1086" id="freqScale25" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Storage</h2>
                                <div class="moduleqn">
                                    <p class="qn">26</p>
                                    <p class="moduleqncontent">Storage Accounts</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1087" id="freqScale26" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">27</p>
                                    <p class="moduleqncontent">StorSimple</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1088" id="freqScale27" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">28</p>
                                    <p class="moduleqncontent">Blob</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1089" id="freqScale28" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">29</p>
                                    <p class="moduleqncontent">Table Storage</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1090" id="freqScale29" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                            </div>



                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Developer Tools</h2>
                                <div class="moduleqn">
                                    <p class="qn">30</p>
                                    <p class="moduleqncontent">Azure Tools for Visual Studio</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1091" id="freqScale30" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">31</p>
                                    <p class="moduleqncontent">Command Line Tools</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1092" id="freqScale31" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                                <div class="moduleqn">
                                    <p class="qn">32</p>
                                    <p class="moduleqncontent">Docker Tools</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1093" id="freqScale32" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>



                            </div>

                        </div>





                    </div>

                    <div data-p="112.50" style="display: none;" id="module2">
                        <div class="content_progress mCustomScrollbar">

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Azure Rights Management</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p>
                                    <p class="moduleqncontent">Maintenance</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1094" id="freqScale33" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p>
                                    <p class="moduleqncontent">Configuration</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1095" id="freqScale34" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Operations Management Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">3</p>
                                    <p class="moduleqncontent">Advanced Threat Analytics (ATA) Center</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1096" id="freqScale35" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">4</p>
                                    <p class="moduleqncontent">Installation/Configuration</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1097" id="freqScale36" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-p="112.50" style="display: none;" id="module3">
                        <div class="content_progress mCustomScrollbar">



                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Operations Management Suite</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p>
                                    <p class="moduleqncontent">Installation by not Using System Center Operations Manager</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1098" id="freqScale37" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p>
                                    <p class="moduleqncontent">Installation by Using System Center Operations Manager</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="4" data-questionid="1099" id="freqScale38" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">3</p>
                                    <p class="moduleqncontent">Non Operations Manager Integrated</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1100" id="freqScale39" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">4</p>
                                    <p class="moduleqncontent">System Center Operations Manager Integrated</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1101" id="freqScale40" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-p="112.50" style="display: none;" id="module4">
                        <div class="content_progress mCustomScrollbar">

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Team Foundation Server</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p>
                                    <p class="moduleqncontent">Team Foundation Server</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1102" id="freqScale41" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div data-p="112.50" style="display: none;" id="module5">
                        <div class="content_progress mCustomScrollbar">

                            <div class="supqnscaleset">
                                <h2 class="productsubtitle">Debugger</h2>
                                <div class="moduleqn">
                                    <p class="qn">1</p>
                                    <p class="moduleqncontent">Client Side Application Tools</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="2" data-questionid="1103" id="freqScale42" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>

                                <div class="moduleqn">
                                    <p class="qn">2</p>
                                    <p class="moduleqncontent">Web Tools</p>
                                </div>
                                <div class="qnscale">

                                    <div class="freqscale_bg" data-answer="0" data-important="3" data-questionid="1104" id="freqScale43" data-feedbackid="@user.FeedBackId" data-userId="@user.Teammember.User.UserId">
                                        <div class="freqscale_over">
                                            <button class="freqbtn1">Introductory</button>
                                            <button class="freqbtn2">Intermediate</button>
                                            <button class="freqbtn3">Experienced</button>
                                            <button class="freqbtn4">Expert</button>
                                        </div>
                                        <div class="freqscale_handle"></div>
                                        <div class="freqadddiv"></div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    
                    <div data-p="112.50" style="display: none;" id="module6">

                        <div class="signarea">
                            <h1>Feedback Completed</h1>
                            <p>Congratulations! You have successfully completed Team-Feedback. Team-Feedback is only used for development purposes, so please confirm, by typing your name into the signature box, that your responses are as honest and objective as possible. If you need to go back to review or revise any of your responses, you may do so now. Once you are satisfied, proceed by clicking “Submit.” Thank you for your participation!</p>
                            <p><b>@Session["Uname"].ToString()</b></p>
                            <input name="textbox" id="fbinitial" type="text"><p><span></span></p>
                            <a id="btnSubmitManSign">Submit</a>

                        </div>
                    </div>
                    
                    }
                }
                <div data-p="112.50" style="display: none;" id="emptyfrloop">
                </div>


                <a data-u="add" href="http://www.jssor.com" style="display: none">Jssor Slider</a>
            </div>
            <div data-u="navigator" class="jssorb01" style="bottom: 16px; right: 16px;" data-autocenter="1">
                <div data-u="prototype" style="width: 12px; height: 12px;"></div>
            </div>
            <span class="jssora13l jssorCom" style="top: 0px; left: 0; width: 45px; height: 70px;" data-autocenter="2"></span>
            <span class="jssora13r jssorCom" style="top: 0px; right: 0; width: 45px; height: 70px;" data-autocenter="2"></span>
        </div>

    </div>
</div>

@section scripts{
    @*<script src="~/Scripts/ref/Common/jquery-2.1.4.min.js"></script>*@
    <script src="~/Scripts/ref/Common/jssor.slider.min.js"></script>
    @*    <script src="~/Scripts/ref/Common/jquery.mCustomScrollbar.js"></script>*@
    <script src="~/Scripts/ref/TechnicalFeedback/ManagerFeedback.js"></script>
}